@import "tailwindcss";

:root{
  background-color: #0a0505;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scaleY(0); }
  to   { opacity: 1; transform: scaleY(1); }
}

@keyframes wave {
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(8);
  }
}

